<div class="row animated fadeIn fast">
  <div class="col-md-12">

    <div class="table-responsive">

      <table class="table">
        <!-- <thead class="thead-inverse table-bordered"> -->
        <thead class="table-bordered table-info">
          <tr>
            <th>Paciente</th>
            <th>Edad</th>
            <th width="100rem"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of fichas | keys; let i = index" class="fila-centrada">
            <td>{{fichas[k].nombre}} {{fichas[k].apellidos}}</td>
            <td>{{fichas[k].edad}}</td>
            <td>
              <button type="button" class="btn btn-outline-primary botonFila" (click)="verDetalle(k)"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-outline-danger botonFila" (click)="borrar(k)"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="(fichas | keys) == 0 && !cargando" class="alert alert-info" role="alert">
        <strong>No hay</strong> registros para mostrar
      </div>

      <div *ngIf="cargando" class="alert alert-warning" role="alert">
        <strong>Cargando...</strong> por favor espera
      </div>

    </div>
  </div>
</div>
