<h3>Ficha del paciente <small>{{ficha.nombre}} {{ficha.apellidos}}</small></h3>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12" *ngIf="!cargando">
    <form (ngSubmit)="guardar()" #formulario=ngForm>

      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label>Fecha</label>
            <input type="date" class="form-control" [ngModel]="ficha.fecha | date:'y-MM-dd'"
              (ngModelChange)="ficha.fecha = $event" name="fecha" required="">
          </div>

          <div class="col-md-3">
            <label>Nombre</label>
            <input [(ngModel)]="ficha.nombre" type="text" name="nombre" class="form-control" required="">
          </div>

          <div class="col-md-6">
            <label>Apellidos</label>
            <input [(ngModel)]="ficha.apellidos" type="text" name="apellidos" class="form-control" required="">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label>DNI</label>
            <input [(ngModel)]="ficha.dni" type="text" name="dni" class="form-control" required="">
          </div>

          <div class="col-md-2">
            <label>Edad</label>
            <input [(ngModel)]="ficha.edad" type="text" name="edad" class="form-control" required="">
          </div>

          <div class="col-md-6">
            <label>Ocupación</label>
            <input [(ngModel)]="ficha.ocupacion" type="text" name="ocupacion" class="form-control">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label>Dirección</label>
            <input [(ngModel)]="ficha.direccion" type="text" name="direccion" class="form-control">
          </div>

          <div class="col-md-2">
            <label>Teléfono</label>
            <input [(ngModel)]="ficha.telefono" type="text" name="telefono" class="form-control" required="">
          </div>

          <div class="col-md-4">
            <label>Email</label>
            <input [(ngModel)]="ficha.email" type="text" name="email" class="form-control">
          </div>
        </div>
      </div>

      <div class="form-group text-right">
        <button type="submit" class="btn btn-outline-primary" [disabled]="!formulario.valid">
          Guardar cambios
        </button>

        <button type="button" class="btn btn-outline-danger" (click)="volver()">Volver</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="cargando" class="alert alert-warning" role="alert">
  <strong>Cargando...</strong> por favor espera
</div>

<h3>Consultas</h3>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12">

    <div class="table-responsive">

      <table class="table">
        <!-- <thead class="thead-inverse table-bordered"> -->
        <thead class="table-bordered table-info">
          <tr>
            <th>Fecha</th>
            <th>Motivo</th>
            <th width="100rem"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of ficha.consultas | keys; let i = index" class="fila-centrada">
            <td>{{ficha.consultas[k].fecha | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{ficha.consultas[k].motivo | truncar:100}}</td>
            <td>
              <button type="button" class="btn btn-outline-primary botonFila"
                (click)="verDetalleConsulta(k)"><i class="fa fa-search fa-lg" aria-hidden="true">
                </i></button>
              <button type="button" class="btn btn-outline-danger botonFila"
                (click)="borrarConsulta(k)"><i class="fa fa-trash fa-lg" aria-hidden="true">
                </i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="(ficha.consultas | keys) == 0 && !cargando" class="alert alert-info" role="alert">
        <strong>No hay</strong> registros para mostrar
      </div>

      <div *ngIf="cargando" class="alert alert-warning" role="alert">
        <strong>Cargando...</strong> por favor espera
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/consulta', id, 'nuevo']">
          Nueva consulta
        </button>
      </div>

    </div>
  </div>
</div>
